<% for post in @posts %>
  <div id="<%= post.id %>" class="col_tr">
    <div class="col_td"><%= post.column_one %></div>
    <div class="col_td"><%= post.column_two %></div>
    <div class="col_td"><%= post.column_three %></div>
    <div class="col_td"><%= post.column_four %></div>
    <div class="col_td"><%= post.column_five %></div>
    <div class="col_td actions">
      <%= link_to "Click Me!", "#", :id => "click_me" %>
      <% link_to "Edit", edit_post_path(post, :page => @page), :remote => true %>
      <%= link_to "Destroy", post_path(post, :page => @page), :remote => true, :class => "destroy_row", :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
<% end %>
<%= hidden_field_tag :page, @page %>
<%= will_paginate @posts %>

